<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mapper.UserMapper">
                    <!-- 复制填写全类名 -->

    <!-- resultType:查询返回的单条记录所封装的类型-->
    <!-- xml映射文件定义的方法，与mapper中注解定义的方法不能同时存在。二选一 -->
    <select id="findAll" resultType="com.learning.pojo.User">
        select * from user
    </select>

</mapper>

        <!--
        XML映射配置：
        在Mybatis中，既可以通过注解配置SQL语句，也可以通过XML配置文件配置SQL语句。
        默认规则：
        1. XML映射文件的名称与Mapper接口名称一致，并且将XML映射文件和Mapper接口放置在相同包下(同包同名，建多层包使用 / 分隔）。
        2. XML映射文件的namespace属性为Mapper接口全限定名一致。
        3.XML映射文件中sql语句的id与Mapper 接口中的方法名一致，并保持返回类型一致。

        使用场景：
        使用Mybatis的注解，主要是来完成一些简单的增删改查功能。
        如果需要实现复杂的SQL功能，建议使用XML来配置映射语句。

        官方说明:https://mybatis.net.cn/getting-started.html
        -->
